<div class="pb-5 col-12 form-inline">
	<button class="col" (click)="removeDuplicateWords = !removeDuplicateWords">
		Remove duplicate words
		<input class="" type="checkbox" [(ngModel)]="removeDuplicateWords">
	</button>
	<button class="col" (click)="removeDuplicateTitles = !removeDuplicateTitles">
		Remove duplicate titles
		<input class="" type="checkbox" [(ngModel)]="removeDuplicateTitles">
	</button>
	<div class="col ">
	</div>
	<div class="col">
		<button class="form-control" (click)="generate()">Generate</button>
	</div>
</div>

<div class="py-5 col-12 vw-100">
	<div class="col-12 text-center">
		{{title}}
	</div>
</div>

<div class="col-12 text-center">
	{{count}} Titles generated
</div>
