$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// From Zeplin
$bg: #e8e8e8;
$blackyred: #4a0000;
$blue: #3b86ff;
$darkred: #b91432;
$fieldfill: #f8f8f8;
$green: #15b500;
$grey: #7c7272;
$lines: #c1adad;
$orange: #ff751f;
$orangey-yellow: #ffba1f;
$pink-red: #ff0b4d;
$red: #db0f34;
$yellow: #ffa700;
$white: #ffffff;

// Aliases
$danger: $pink-red;
$muted: $grey;
$primary: $red;
$secondary: $blackyred;
$success: $green;
$warning: $orange;
$info: $blue;

$border-radius: 6px;
